:root {
    --main-dark-green: #264653; 
    --main-light-green: #2A9D8F; 
    --main-orange: #E76F51;
    --main-light-orange: #F4A261; 
    --main-yellow: #E9C46A;  
}
/************************************
            Header
************************************/
* {
    text-align: center;
    box-sizing: border-box;
}

header {
    padding: 1em;

    background-color: var(--main-dark-green);

    border-radius: 1em 1em 0 0;
}

button#getWeather {
    padding: 0.7em; 

    background-color: var(--main-orange); 
    color: white; 

    font-weight: bold; 

    border: 2px solid transparent; 
    border-radius: 0.5em;
}

button#getWeather:focus, 
button#getWeather:hover {
    border: 2px dashed var(--main-light-orange);
}

input#zipcode {
    font-size: 1.2em; 
    width: 8em;
}

/************************************
            Main/Data Section
************************************/
main {
    width: 100%; 
    margin: 0; 

    background-color: var(--main-light-green); 

    border-radius: 0 0 1em 1em; 
}

/************************************
            Utility Styles
************************************/
.flex {
    display: flex; 
    flex-direction: column;

    justify-content: center;
    align-items: center; 
    
}

.viewportCentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.displayOff {
    display: none;
}

.w-300px {
    width: 300px; 
}