:root {
    --main-dark-green: #264653; 
    --main-light-green: rgb(42, 157, 143); 
    --main-orange: #E76F51;
    --main-light-orange: #F4A261; 
    --main-yellow: #E9C46A;  
    --main-white: #FCF8ED; 
}
/************************************
            Header
************************************/
* {
    text-align: center;
    box-sizing: border-box;
}

body {
    background-color: var(--main-white);
}

header {
    padding: 1em;

    background-color: var(--main-dark-green);

    border-radius: 1em 1em 0 0;
}

button#getWeather {
    padding: 0.7em; 

    background-color: var(--main-orange); 
    color: white; 

    font-weight: bold; 

    border: 2px solid transparent; 
    border-radius: 0.5em;
}

button#getWeather:focus, 
button#getWeather:hover {
    border: 2px dashed var(--main-light-orange);
}

input#zipcode {
    font-size: 1.2em; 
    width: 8em;
}

/************************************
            Main/Data Section
************************************/
main {
    width: 100%; 
    margin: 0; 

    background-color: var(--main-light-green); 
    color: white;

    border-radius: 0 0 1em 1em; 
}

main h2 {
    font-size: 2em;
    margin: 0.5em;
}

main h3 {
    margin: 0em;
}

.iconContainer {
    height: 2em; 
}

i {
    font-size: 2em; 
}

/************************************
            Utility Styles
************************************/
.flex-col {
    display: flex; 
    flex-direction: column;

    justify-content: center;
    align-items: center; 
    
}

#data {
    width: 100%; 
    display: flex; 
    flex-direction: row;

    justify-content: space-evenly;
    align-items: baseline;
}

.viewportCentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.displayOff {
    display: none !important; 
}

.w-300px {
    width: 300px; 
}

.collapse {
    height: 0em;
}